.con {
    margin-left: 0px;
}

.nav {
    position: sticky;
    top: 0px;
    padding: 20px;
    margin: 0;
}

.link {
    text-decoration: none;
    margin: 0px 10px;
    color: white;
}

.link:hover {
    color: gray;
}
