.spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.cardTable {
  width: 80vw;
  z-index: 0;
  padding: 10px 100px;
}

.table {
  margin: 10px auto;
  width: 70vw;
  height: 60vh;
}

.modalBody, .modalHeader, .modalFooter{
  background-color: #363945;
  color: white;
  border: none;
}

.btn-close {
  background-color: #fff;
}

