.spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.cardTable {
  z-index: 0;
  padding: 1rem 5rem;
  margin: 2rem 0px;
  max-width: 100vw;
}

.cardBody{
  overflow: auto;
}

.tableData {
  width: 60vw;
  height: 60vh;
}

.modalBody, .modalHeader, .modalFooter{
  background-color: #363945;
  color: white;
  border: none;
}

.btn-close {
  background-color: #fff;
}

.errorCard {
  padding: 2rem;
}

.errorDiv, .errorText {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(252, 69, 69);
}
