.spinner {
  margin: auto;
  width: 100px;
  height: 100px;
}

.buttonColumn {
  width: 10rem;
}

.cardTable {
  z-index: 0;
  margin: 2rem 0px;
  max-width: 100vw;
}

.cardBody{
  overflow: auto;
  padding: 100px 10rem;
}

.cardFooter {
  display: flex;
  flex-direction: row-reverse;
}

.tableData {
  width: 70vw;
  height: 20vh;
}

.modalBody, .modalHeader, .modalFooter{
  background-color: #363945;
  color: white;
  border: none;
}

.btn-close {
  background-color: #fff;
}

.errorCard {
  padding: 2rem;
}

.errorDiv, .errorText {
  font-weight: bold;
  color: rgb(252, 69, 69);
}
